.text-editor {
  width: 1086px;
  margin: 0 auto;
}
.ql-editor {
  min-height: 300px;
}
.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}
.ql-align-right img {
  float: right;
}
.ql-align-center img {
	float: center;
}
.ql-align-left img {
	float: left;
}
h1 {
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  
}
h2 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 20px;
}

ul {
  margin-left: 40px;
}

/* unvisited link */
p a:link {
  color: rgb(3, 130, 209);
}

/* visited link */
p a:visited {
  color: rgb(91, 99, 91);
}

/* mouse over link */
p a:hover {
  color: rgb(9, 56, 245);
}

/* selected link */
p a:active {
  color: rgb(145, 145, 146);
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  border: 1px solid rgb(130, 130, 130);
}

table tbody tr td {
  border: 1px solid rgb(130, 130, 130);
}

table thead tr th {
  border: 1px solid rgb(130, 130, 130);
}