.text-editor {
  width: 1086px;
  margin: 0 auto;
}
.ql-editor {
  min-height: 300px;
}
.ql-align-right {
	text-align: right;
}
.ql-align-center {
	text-align: center;
}
.ql-align-left {
	text-align: left;
}
.ql-align-right img {
  float: right;
}
.ql-align-center img {
	float: center;
}
.ql-align-left img {
	float: left;
}